[submodule "mediumish-gohugo-theme"]
	path = mediumish-gohugo-theme
	url = https://github.com/lgaida/mediumish-gohugo-theme.git
[submodule "public"]
	path = public
	url = https://github.com/valentinegarikayi/zcp_site.git
	branch = main
